DB_HOST=db
DB_PORT=3306
DB_NAME=agent_db
DB_USER=agent_user
DB_PASSWORD=your_password_here
MYSQL_ROOT_PASSWORD=your_root_password_here

OPENAI_API_KEY=your_openai_api_key_here
HF_TOKEN="your_hugging_face_token_here"

EMBED_MODEL="intfloat/multilingual-e5-small"
FAISS_METRIC="ip"  
FAISS_INDEX_PATH="./faiss.index"
FAISS_IDS_PATH="./faiss_ids.npy"
RERANKER_MODEL="jina-reranker-v2-base-multilingual"
INTERNAL_LLM_MODEL="qwen/Qwen1.5-0.5B-Chat"

ELASTICSEARCH_HOST=http://elasticsearch:9200
ENVIRONMENT="test"